@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background-color 0.3s, color 0.3s;
}

.ql-editor {
  min-height: 400px;
  font-size: 14px;
  line-height: 1.5;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  resize: both;
  overflow: auto;

}

.blog-content {
  padding: 1rem;
}

.ql-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  max-width: 800px;
  z-index: 1000;
  background-color: #cfc3c3;
  font-size: 8px;
  border-radius: 20px;
  cursor: move;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media query for tablets and small devices */
@media (max-width: 768px) {
  .ql-toolbar {
    font-size: 12px;
    padding: 4px;
    width: 95%;
    left: 2.5%;
    /* Centering toolbar horizontally */
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .ql-toolbar {
    font-size: 8px;
    padding: 3px;
    width: 100%;
    left: 0;
    /* Align toolbar to the edge */
  }
}

.ql-toolbar .ql-delete {
  color: red;
  cursor: pointer;
}

.ql-toolbar .ql-delete::before {
  content: '✘';
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .responsive-image {
    max-width: 400px; /* Sesuaikan dengan ukuran yang diinginkan */
  }
}
